main {
  height: 100vh;
  width: 100vw;
}
.background {
  height: 100vh;
  width: 100%;
  background-image: url('../img/rgb-sky.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10rem);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.glass {
  height: 80%;
  width: 88%;
  background-image: url('../img/rgb-sky.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}
#top {
  grid-column: 1;
  grid-row: 1;
}
#bottom {
  grid-column: 1;
  grid-row: 2;
  backdrop-filter: blur(10rem);
}

@media (min-width: 768px) {
  .glass {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
  }
  #top {
    grid-column: 1;
    grid-row: 1;
  }
  #bottom {
    grid-column: 2;
    grid-row: 1;
    backdrop-filter: blur(10rem);
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media and {
    #bottom {
      -webkit-backdrop-filter: blur(10rem);
    }
    .background::before {
      -webkit-backdrop-filter: blur(10rem);
    }
  }
}
